WcfRestfulClient/Service References/DataProvider/DataProvider.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="WCF.REST" elementFormDefault="qualified" targetNamespace="WCF.REST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="data" type="tns:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Sex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="info" type="tns:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetResult" type="tns:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType />
  </xs:element>
</xs:schema>