test/Service References/ServiceReference1/SystemMessageWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://i.bitauto.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://i.bitauto.com/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://i.bitauto.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://i.bitauto.com/">
      <s:element name="ModuleSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recieverId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sourceId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModuleSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModuleSendResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModuleSendByReciverUserNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recieverUserNameArr" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="sourceId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ModuleSendByReciverUserNamesResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModuleSendByReciverUserIds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recieverUserIdArr" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="sourceId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ModuleSendByReciverUserIdsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMessageByAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="senderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reciverIds" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageByAdminResponse">
        <s:complexType />
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
    <s:schema targetNamespace="http://i.bitauto.com/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ModuleSendSoapIn">
    <wsdl:part name="parameters" element="tns:ModuleSend" />
  </wsdl:message>
  <wsdl:message name="ModuleSendSoapOut">
    <wsdl:part name="parameters" element="tns:ModuleSendResponse" />
  </wsdl:message>
  <wsdl:message name="ModuleSendByReciverUserNamesSoapIn">
    <wsdl:part name="parameters" element="tns:ModuleSendByReciverUserNames" />
  </wsdl:message>
  <wsdl:message name="ModuleSendByReciverUserNamesSoapOut">
    <wsdl:part name="parameters" element="tns:ModuleSendByReciverUserNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ModuleSendByReciverUserIdsSoapIn">
    <wsdl:part name="parameters" element="tns:ModuleSendByReciverUserIds" />
  </wsdl:message>
  <wsdl:message name="ModuleSendByReciverUserIdsSoapOut">
    <wsdl:part name="parameters" element="tns:ModuleSendByReciverUserIdsResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageByAdminSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageByAdmin" />
  </wsdl:message>
  <wsdl:message name="SendMessageByAdminSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageByAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ModuleSendHttpPostIn">
    <wsdl:part name="recieverId" type="s:string" />
    <wsdl:part name="sourceId" type="s:string" />
    <wsdl:part name="sourceKey" type="s:string" />
    <wsdl:part name="sourceTitle" type="s:string" />
    <wsdl:part name="msgData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModuleSendHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ModuleSendByReciverUserNamesHttpPostIn">
    <wsdl:part name="recieverUserNameArr" type="s1:StringArray" />
    <wsdl:part name="sourceId" type="s:string" />
    <wsdl:part name="sourceKey" type="s:string" />
    <wsdl:part name="sourceTitle" type="s:string" />
    <wsdl:part name="msgData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModuleSendByReciverUserNamesHttpPostOut" />
  <wsdl:message name="ModuleSendByReciverUserIdsHttpPostIn">
    <wsdl:part name="recieverUserIdArr" type="s1:StringArray" />
    <wsdl:part name="sourceId" type="s:string" />
    <wsdl:part name="sourceKey" type="s:string" />
    <wsdl:part name="sourceTitle" type="s:string" />
    <wsdl:part name="msgData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModuleSendByReciverUserIdsHttpPostOut" />
  <wsdl:message name="SendMessageByAdminHttpPostIn">
    <wsdl:part name="senderName" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="reciverIds" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="SendMessageByAdminHttpPostOut" />
  <wsdl:portType name="SystemMessageWebServiceSoap">
    <wsdl:operation name="ModuleSend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送系统消息</wsdl:documentation>
      <wsdl:input message="tns:ModuleSendSoapIn" />
      <wsdl:output message="tns:ModuleSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModuleSendByReciverUserNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户名群发系统消息</wsdl:documentation>
      <wsdl:input message="tns:ModuleSendByReciverUserNamesSoapIn" />
      <wsdl:output message="tns:ModuleSendByReciverUserNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModuleSendByReciverUserIds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户uid群发系统消息</wsdl:documentation>
      <wsdl:input message="tns:ModuleSendByReciverUserIdsSoapIn" />
      <wsdl:output message="tns:ModuleSendByReciverUserIdsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageByAdmin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送站内短消息</wsdl:documentation>
      <wsdl:input message="tns:SendMessageByAdminSoapIn" />
      <wsdl:output message="tns:SendMessageByAdminSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SystemMessageWebServiceHttpPost">
    <wsdl:operation name="ModuleSend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送系统消息</wsdl:documentation>
      <wsdl:input message="tns:ModuleSendHttpPostIn" />
      <wsdl:output message="tns:ModuleSendHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ModuleSendByReciverUserNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户名群发系统消息</wsdl:documentation>
      <wsdl:input message="tns:ModuleSendByReciverUserNamesHttpPostIn" />
      <wsdl:output message="tns:ModuleSendByReciverUserNamesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ModuleSendByReciverUserIds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户uid群发系统消息</wsdl:documentation>
      <wsdl:input message="tns:ModuleSendByReciverUserIdsHttpPostIn" />
      <wsdl:output message="tns:ModuleSendByReciverUserIdsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageByAdmin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送站内短消息</wsdl:documentation>
      <wsdl:input message="tns:SendMessageByAdminHttpPostIn" />
      <wsdl:output message="tns:SendMessageByAdminHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemMessageWebServiceSoap" type="tns:SystemMessageWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModuleSend">
      <soap:operation soapAction="http://i.bitauto.com/ModuleSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModuleSendByReciverUserNames">
      <soap:operation soapAction="http://i.bitauto.com/ModuleSendByReciverUserNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModuleSendByReciverUserIds">
      <soap:operation soapAction="http://i.bitauto.com/ModuleSendByReciverUserIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageByAdmin">
      <soap:operation soapAction="http://i.bitauto.com/SendMessageByAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SystemMessageWebServiceSoap12" type="tns:SystemMessageWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModuleSend">
      <soap12:operation soapAction="http://i.bitauto.com/ModuleSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModuleSendByReciverUserNames">
      <soap12:operation soapAction="http://i.bitauto.com/ModuleSendByReciverUserNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModuleSendByReciverUserIds">
      <soap12:operation soapAction="http://i.bitauto.com/ModuleSendByReciverUserIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageByAdmin">
      <soap12:operation soapAction="http://i.bitauto.com/SendMessageByAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SystemMessageWebServiceHttpPost" type="tns:SystemMessageWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ModuleSend">
      <http:operation location="/ModuleSend" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModuleSendByReciverUserNames">
      <http:operation location="/ModuleSendByReciverUserNames" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ModuleSendByReciverUserIds">
      <http:operation location="/ModuleSendByReciverUserIds" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SendMessageByAdmin">
      <http:operation location="/SendMessageByAdmin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemMessageWebService">
    <wsdl:port name="SystemMessageWebServiceSoap" binding="tns:SystemMessageWebServiceSoap">
      <soap:address location="http://localhost:37117/SystemMessageWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SystemMessageWebServiceSoap12" binding="tns:SystemMessageWebServiceSoap12">
      <soap12:address location="http://localhost:37117/SystemMessageWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SystemMessageWebServiceHttpPost" binding="tns:SystemMessageWebServiceHttpPost">
      <http:address location="http://localhost:37117/SystemMessageWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>